* {
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
}
#api-manage{
    position: relative;
    #login-form {
        width: 100%;
        max-width: 500px;
        padding: 15px 30px;
        margin: 0 auto;
        border: 1px solid #ccc;
        h3 {
            font-size: 18px;
            font-weight: 500;
        }
        label {
            width: 100px;
            display: inline-block;
        }
        input {
            width: calc(100% - 105px);
        }
        button {
            line-height: 35px;
            padding: 0 30px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            transition: all 0.3s;
        }
    }
    .form-add {
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        form {
            background-color: #ffffff;
            padding: 15px 30px;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 500px;
            .action-form {
                text-align: right;
            }
            h3 {
                font-size: 18px;
                font-weight: 500;
            }
            label {
                width: 62px;
                display: inline-block;
            }
            input {
                width: calc(100% - 67px);
            }
            button {
                line-height: 35px;
                padding: 0 30px;
                border: none;
                text-transform: uppercase;
                font-size: 14px;
                transition: all 0.3s;
            }
            #button-create-api {
                background-color: #3ac569;
                color: #ffffff;
                &:hover {
                    background-color: darken(#3ac569, 10%);
                }
            }
            #button-cancel-api {
                border: 1px solid #cccccc;
                line-height: 33px;
                margin-left: 10px;
                &:hover {
                    border-color: #3ac569;
                    color: #3ac569;
                }
            }
        }
    }
    input[type="text"]{
        border: 1px solid #DDD;
        font-size: 14px;
        padding: 10px 15px;
        &:focus {
            outline: none;
            border-color: #3ac569;
        }
    }

    .header {
        background-color: #3ac569;

        color: #ffffff;
        padding: 10px 15px;
        text-align: right;
        a {
            color: #ffffff;
            text-decoration: underline;
        }
    }
    #content {
        padding: 30px 0;
        a {
            color: #3ac569;
        }
        table {
            border-collapse: separate;
            border-spacing: 0;
            border: 1px solid #cccccc;
            border-bottom: none;
            width: 100%;
            border-right: none;
            tr {
                th, td {
                    border-bottom: 1px solid #cccccc;
                    padding: 5px 10px;
                    border-right: 1px solid #cccccc;
                    text-align: left;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &.action {
                        width: 150px;
                        text-align: left;
                        a {
                            text-decoration: none;
                            margin: 0 5px;
                        }
                    }
                    input {
                        width: 100%;
                    }
                }
            }
            th {
                background-color: #eeeeee;
                font-weight: 400;
            }
            td {

            }
        }
        .action {
            margin-top: 20px;
            text-align: right;
            button {
                background-color: #3ac569;
                color: #ffffff;
                text-transform: uppercase;
                padding: 0 30px;
                border: none;
                font-size: 16px;
                line-height: 35px;
                transition: all 0.3s;
                &:hover {
                    background-color: darken(#3ac569, 10%);
                }
            }
        }

    }
}
.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
#request-params {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 30px;
    form {
        label {
            width: 100px;
            display: inline-block;
            font-weight: 400;
        }
        input {
            border: 1px solid #DDD;
            font-size: 14px;
            padding: 10px 15px;
            width: calc(100% - 105px);
        }
        .action {
            text-align: right;
        }
        button {
            background-color: #3ac569;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0 30px;
            border: none;
            font-size: 16px;
            line-height: 35px;
            transition: all 0.3s;
            &:hover {
                background-color: darken(#3ac569, 10%);
            }
        }
    }
}
.courses {
    margin-left: -15px;
    margin-right: -15px;
    li {
        text-align: center;
        display: inline-block;
        padding-left: 15px;
        width: 32%;
        padding-right: 15px;
        a {
            h4 {
                font-weight: 500;
            }
        }
    }
}