<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Manage</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
</head>
<body>

<div id="api-manage" v-show="loaded">
    <div class="header" v-if="token">
        <div class="">
            <div v-if="token">Hi, {{user.user_login}} <a href="" @click="_logout">Logout</a></div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <p v-if="errorMsg">{{errorMsg}}</p>

            <div v-if="!token" id="login-form">
                <h3>Login Form</h3>
                <p>
                    <label>Username</label>
                    <input type="text" id="usr" value="admin">
                </p>

                <p>
                    <label>Password</label>
                    <input type="text" id="pwd" value="admin">
                </p>

                <p class="action">
                    <button id="login" @click="_login">Login</button>
                </p>
            </div>

            <table v-if="token">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Desc</th>
                    <th></th>
                    <th class="action"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(api, i) in apis">
                    <td>{{api.name}}</td>
                    <td>{{api.desc}}</td>
                    <td><input type="text" readonly :value="api.token"/></td>
                    <td class="action">
                        <input type="hidden" :value="api">
                        <a href="" @click="_remove($event, api)">Remove</a>
                        <a href="" @click="_edit($event, api)">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div v-show="editApi" class="form-add">
                <form>
                    <h3>Add New</h3>
                    <p>
                        <label>Name</label>
                        <input type="text" id="api-name" v-model="editApi.name">
                    </p>

                    <p>
                        <label>Desc</label>
                        <input type="text" id="api-desc" v-model="editApi.desc">
                    </p>

                    <p class="action-form">
                        <button id="button-create-api" @click="_saveAPI($event, true)">Save</button>
                        <button id="button-cancel-api" @click="_saveAPI($event, false)">Cancel</button>
                    </p>
                </form>
            </div>

            <div class="action" v-if="token">
                <button v-if="!editApi" @click="_newAPI">Add</button>
            </div>
        </div>
    </div>

</div>

<script>
    jQuery(function ($) {
        var socket = io();

        //socket.on('socket ready x', create);
        create();
        function create() {
            console.log('create')
            new Vue({
                el: '#api-manage',
                data: function () {
                    return {
                        loaded: false,
                        token: '',
                        user: {},
                        errorMsg: '',
                        apis: [],
                        editApi: false
                    }
                },
                computed: {},
                mounted: function () {
                    var $vm = this;

                    setTimeout(function () {
                        $vm.load();

                    }, 1000);

                    socket.on('logged in', function (response) {
                        this.errorMsg = '';

                        $vm.setAuthData(response);
                    }).on('login failed', function (msg) {
                        $vm.errorMsg = msg || 'Login failed';
                    }).on('token-authorized', function (response) {
                        if ($.isPlainObject(response)) {
                            $vm.setAuthData(response);
                            $vm.loaded = true;
                        }

                        console.log(response);
                    }).on('api-deleted', function (r) {

                    }).on('api-saved', function (r) {
                        if ($vm.editApi._id) {
                            var at = $vm.apis.findIndex(function (a, b) {
                                return a._id == $vm.editApi._id
                            });

                            if (at > -1) {
                                Vue.set($vm.apis, at, r);
                            }
                        } else {
                            $vm.apis.push(r);
                        }
                        $vm.editApi = false;

                    }).on('get apis', function (apis) {
                        $vm.apis = apis;
                    })
                },
                methods: {
                    load: function () {
                        var token = $.cookie('learnpress-api-token');
                        if (token) {
                            socket.emit('verify-token', {token: token});
                        }
                    },
                    setAuthData: function (authData) {
                        this.user = authData.user;
                        this.apis = authData.apis;
                        this.token = authData.token;
                        $.cookie('learnpress-api-token', authData.token);
                    },
                    _login: function () {
                        let usr = $('#usr').val(),
                            pwd = $('#pwd').val();
                        socket.emit('login', {usr: usr, pwd: pwd});
                    },
                    _logout: function (e) {
                        e.preventDefault();

                        this.user = {};
                        this.token = '';
                        this.apis = '';

                        $.cookie('learnpress-api-token', '');
                    },
                    _remove: function (e, api) {
                        e.preventDefault();

                        if (!confirm('Remove this token?')) {
                            return;
                        }

                        var at = this.apis.findIndex(function (a, b) {
                            return a._id == api._id;
                        });

                        at !== -1 && this.apis.splice(at, 1);

                        if (api) {
                            socket.emit('delete-api', {
                                token: this.token,
                                userId: this.user.uid,
                                permission: 'w',
                                api: this.editApi
                            });
                        } else {
                            this.editApi = false;
                        }
                    },
                    _newAPI: function () {
                        this.editApi = {};
                    },
                    _edit: function (e, api) {
                        e.preventDefault();

                        var at = this.apis.findIndex(function (a, b) {
                            return a._id == api._id;
                        });

                        at !== -1 && (this.editApi = JSON.parse(JSON.stringify(this.apis[at])));
                    },
                    _saveAPI: function (e, c) {
                        e.preventDefault();
                        if (c) {
                            socket.emit('save-api', {
                                token: this.token,
                                userId: this.user.uid,
                                permission: 'w',
                                api: this.editApi
                            });
                        } else {
                            this.editApi = false;
                        }
                    }
                }
            })
        }
    })
</script>

</body>
</html>