* {
  box-sizing: border-box; }

button {
  cursor: pointer; }

body {
  margin: 0;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 300; }

#api-manage {
  position: relative; }
  #api-manage #login-form {
    width: 100%;
    max-width: 500px;
    padding: 15px 30px;
    margin: 0 auto;
    border: 1px solid #ccc; }
    #api-manage #login-form h3 {
      font-size: 18px;
      font-weight: 500; }
    #api-manage #login-form label {
      width: 100px;
      display: inline-block; }
    #api-manage #login-form input {
      width: calc(100% - 105px); }
    #api-manage #login-form button {
      line-height: 35px;
      padding: 0 30px;
      border: none;
      text-transform: uppercase;
      font-size: 14px;
      transition: all 0.3s; }
  #api-manage .form-add {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%; }
    #api-manage .form-add form {
      background-color: #ffffff;
      padding: 15px 30px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 500px; }
      #api-manage .form-add form .action-form {
        text-align: right; }
      #api-manage .form-add form h3 {
        font-size: 18px;
        font-weight: 500; }
      #api-manage .form-add form label {
        width: 62px;
        display: inline-block; }
      #api-manage .form-add form input {
        width: calc(100% - 67px); }
      #api-manage .form-add form button {
        line-height: 35px;
        padding: 0 30px;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 0.3s; }
      #api-manage .form-add form #button-create-api {
        background-color: #3ac569;
        color: #ffffff; }
        #api-manage .form-add form #button-create-api:hover {
          background-color: #2e9e54; }
      #api-manage .form-add form #button-cancel-api {
        border: 1px solid #cccccc;
        line-height: 33px;
        margin-left: 10px; }
        #api-manage .form-add form #button-cancel-api:hover {
          border-color: #3ac569;
          color: #3ac569; }
  #api-manage input[type="text"] {
    border: 1px solid #DDD;
    font-size: 14px;
    padding: 10px 15px; }
    #api-manage input[type="text"]:focus {
      outline: none;
      border-color: #3ac569; }
  #api-manage .header {
    background-color: #3ac569;
    color: #ffffff;
    padding: 10px 15px;
    text-align: right; }
    #api-manage .header a {
      color: #ffffff;
      text-decoration: underline; }
  #api-manage #content {
    padding: 30px 0; }
    #api-manage #content a {
      color: #3ac569; }
    #api-manage #content table {
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid #cccccc;
      border-bottom: none;
      width: 100%;
      border-right: none; }
      #api-manage #content table tr th, #api-manage #content table tr td {
        border-bottom: 1px solid #cccccc;
        padding: 5px 10px;
        border-right: 1px solid #cccccc;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px; }
        #api-manage #content table tr th.action, #api-manage #content table tr td.action {
          width: 150px;
          text-align: left; }
          #api-manage #content table tr th.action a, #api-manage #content table tr td.action a {
            text-decoration: none;
            margin: 0 5px; }
        #api-manage #content table tr th input, #api-manage #content table tr td input {
          width: 100%; }
      #api-manage #content table th {
        background-color: #eeeeee;
        font-weight: 400; }
    #api-manage #content .action {
      margin-top: 20px;
      text-align: right; }
      #api-manage #content .action button {
        background-color: #3ac569;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 30px;
        border: none;
        font-size: 16px;
        line-height: 35px;
        transition: all 0.3s; }
        #api-manage #content .action button:hover {
          background-color: #2e9e54; }

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

#request-params {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 30px; }
  #request-params form label {
    width: 100px;
    display: inline-block;
    font-weight: 400; }
  #request-params form input {
    border: 1px solid #DDD;
    font-size: 14px;
    padding: 10px 15px;
    width: calc(100% - 105px); }
  #request-params form .action {
    text-align: right; }
  #request-params form button {
    background-color: #3ac569;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 30px;
    border: none;
    font-size: 16px;
    line-height: 35px;
    transition: all 0.3s; }
    #request-params form button:hover {
      background-color: #2e9e54; }

.courses {
  margin-left: -15px;
  margin-right: -15px; }
  .courses li {
    text-align: center;
    display: inline-block;
    padding-left: 15px;
    width: 24%;
    padding-right: 15px; }
    .courses li a h4 {
      font-weight: 500; }
