<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <style>
        #page .courses{
            list-style: none;
        }
    </style>
</head>
<body>

<div id="page">
    <div class="container">
        <div id="request-params">
            <form>
                <p>
                    <label>URL</label>
                    <input type="text" v-model="url">
                </p>
                <p>
                    <label>Token</label>
                    <input type="text" v-model="params.token">
                </p>
                <p>
                    <label>Keywords</label>
                    <input type="text" v-model="params.keywords">
                </p>
                <p>
                    <label>Limit</label>
                    <input type="number" v-model="params.limit">
                </p>
                <p>
                    <label>Page</label>
                    <input type="number" v-model="params.page">
                </p>
                <p class="action">
                    <button @click="_get($event)">Get</button>
                </p>
            </form>
        </div>

        <p>
            <button>Enroll</button>
        </p>
        <a href="" @click="_backToCourses($event)">Back</a>
        <ul v-show="!courseDetails" class="courses">
            <li v-for="(course, index) in results">
                <a :href="'http://localhost:1234/test/course/'+course.id+'?token='+params.token" @click="_showCourse($event, course)">
                    <img v-if="getThumbnail(course)" :src="getThumbnail(course)">
                    <h4>#{{course.id}} - {{course.name}}</h4>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    new Vue({
        el: '#page',
        data: function () {
            return {
                url: 'http://localhost:1234/api/courses',
                params: {
                    token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJwZXJtaXNzaW9uIjoidyIsImlhdCI6MTU0MTIyODcyN30.yHrtK0Oo6AP-tqPL6slg94XNs4L2Yo3XUaIt1uHd-_o',
                    keywords: '',
                    limit: -1,
                    page: 1
                },
                courseDetails: false,
                results: []
            }
        },
        methods: {
            getThumbnail: function (course) {
                if (course.thumbnail) {
                    if (course.thumbnail.sizes.thumbnail) {
                        return course.thumbnail.sizes.thumbnail.url;
                    }
                }

                return '';
            },
            _backToCourses: function (e) {
                e.preventDefault();

                this.courseDetails = false;
            },
            _showCourse: function (e, course) {
                e.preventDefault();
                this.courseDetails = course;
            },
            _get: function (e) {
                e.preventDefault();
                var $vm = this;
                $.ajax({
                    url: this.url,
                    type: 'get',
                    data: this.params,
                    success: function (res) {
                        console.log(res);
                        $vm.results = typeof res === 'string' ? JSON.parse(res) : res;
                    }
                });
            }
        }
    });
</script>

</body>
</html>